#menu {
	box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
	margin-bottom: 3.0rem;
}

nav.navbar {
	padding: 0px;
}

header {
	width: 100%;
	padding: 50pt;
	margin: 50pt;
}

div#menu {
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
}

div#conteudo {
	margin-top: 15vh;
}

div#ajusta {
	padding: 500px;
}

li.nav-item {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

a.nav-link {
	padding: 18px;
}

li.nav-item:hover {
	background-color: #0d6efd;
	font-style: white;
}

a.nav-link:hover {
	color: white;
}

p.text-primary {
	margin-top: 16px;
}

table {
	border-radius: 10px;
}

div.item {
	border: solid;
	border-color: white;
	border-width: 2px;
	
	position: relative;
	
	border-radius: 15px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 3.0rem;
	margin-right: 2rem;
	box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
	float: left;
}

div.item:hover {
	border: solid;
	border-color: #bebebe;
	border-width: 2px;
	transition: 0.1s ease-in-out;
	
	border-radius: 15px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 3.0rem;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.card-receita {
	width: 288px;
	height: 302px;
}

div#center {
	width: 94%;
	position: relative;
	top: 15%;
	left: 50%;
	transform: translate(-50% , 0%);
	padding-left: 6vw;
}

.measuring-icon {
	float: right;
	padding-bottom: 10px;
}

div.espaco-cima {
	padding-top: 0vh;
}

img.icone-item {
	float: right;
	padding-bottom: 15px;
	padding-right: 15px;
	
	position: absolute;
    bottom: 0;
    right: 0;
}

div#sombra {
	margin-bottom: 5vh;
	border-radius: 15px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 3.0rem;
	margin-right: 2rem;
	box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: -4px 5px 10px 4px rgba(0,0,0,0.4);
}

a {
	text-decoration: none;
}

.descricao {
    display: none;
}

.coisa:hover .descricao {
    display: block;
}

.imagem-excluir {
	padding: 10px 3px 3px 3px;
	margin-right: 3px;
	position: absolute;
	float: right;
    right: 0;
}

.imagem-editar {
	padding: 10px 3px 3px 3px;
	margin-right: 5px;
	position: absolute;
	float: left;
}

#sign-in {
	position: absolute;
	top: 0;
	right: 0;
}