<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout.html}"> <!-- Referencia layout.html e usa-o como base -->
	<div layout:fragment="content">
		<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
		</div>
		<div class="card mt-5" id="sombra">
			<div class="card-header">
				<p class="text-primary">Novo ingrediente</p>
			</div>
			<div class="card-body">
				<form method="POST" th:object="${ingrediente}" th:action="@{/ingrediente/form}">
					<input type="hidden" th:field="*{id}">
					<div class="form-group mb-3">
						<label for="nome">Nome do ingrediente: </label>
						<input class="form-control" type="text" th:field="*{nome}" required></input>
						<div class="text-danger" th:if="${#fields.hasErrors('nome')}" 
						th:errors="*{nome}"></div>
					</div>
					<div class="form-group mb-3">
						<label for="origem">Origem: </label>
						<div th:each="ingrediente : ${T(com.gft.mvc.entities.Origem).values()}">
			                <div class="custom-control custom-radio custom-control-inline">
			                    <input type="radio" th:field="*{origem}" th:value="${ingrediente}" class="custom-control-input" required>
			                    <label class="custom-control-label" th:for="${#ids.prev('origem')}" th:text="${ingrediente}"></label>
			                </div>
			            </div>
						<div class="text-danger" th:if="${#fields.hasErrors('origem')}" 
						th:errors="*{origem}"></div>
					</div>
					<button type="submit" class="btn btn-primary">Salvar receita</button>
				</form>
			</div>
		</div>
	</div>
</html>